.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(184, 158, 255);
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}
